<% if session[:service].authentication_token != '57813dc7992fbdc721ca5f6b0d02d559' %>

<div class = "row-fluid login-logo">
  <div class = "span6">
    <%= image_tag(@wallet.logo.url(:medium)) %>
  </div>

  <div class = "span6">
    <%= image_tag(@service_logo) %>
  </div>
</div>

<!-- Login -->
<div class = "login">
  <div class="page-header">
      <a href = "<%= main_path %>">
        <div class="icon">
            <span class="ico-arrow-right"></span>
        </div>
      </a>
      <h1><%= session[:service].name %></h1>
  </div>
  <div class = "row-fluid">
	  <div class = "span12">
	    <% if @guce_notice %>
	      <div class = "alert alert-notice">
          <ul>
            <li><%= @guce_notice %></li>
          </ul>
        </div>
	    <% end %>
	    <% if @error %>
        <div class = "alert alert-error">
          <ul>
          <% @error_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <% if @success %>
        <div class = "alert alert-success">
          <% @success_messages.each do |msg| %>
            <%= msg %>
          <% end %>
        </div>
      <% end %>
	    <div class = "block">

      <!------------------------------------------ Data-fluid ----------------------------------->
		  <div class = "data-fluid" >
		    <%= form_tag ("/novapay/process_payment") do %>
		      <%= hidden_field_tag "_refact", "#{@basket.transaction_id rescue @basket.first.transaction_id}" %>
		      <%= hidden_field_tag "_prix", "#{@transaction_amount + @shipping}" %>
	        <div class = "<%= @transaction_amount_css %>">
	          <div class = "input-append">
		          <div class = "span9">
			          <%= text_field_tag "magellan", @transaction_amount, :readonly => true %>
			          <button class = "btn btn-info" type = "button"><%= @wallet_currency.symbol %> (<%= @wallet_currency.code %>)</button>
		          </div>
		        </div>
	        </div>
	        <div class = "row-form">
	          <div class = "input-append">
		          <div class = "span9">
			          <%= text_field_tag "Frais", @shipping, :readonly => true %>
			          <button class = "btn btn-info" type = "button">Frais [Shipping] <%= @wallet_currency.symbol %> (<%= @wallet_currency.code %>)</button>
		          </div>
		        </div>
	        </div>
	        <br />
          <div class="span12">
		        <button class="btn" id = "submit_n">
			        Payer avec NovaPay <div class="icon-arrow-next icon-white"></div>
		        </button>
	        </div>
        <% end %>
		  </div>
	    <!------------------------------------------ Data-fluid ----------------------------------->
	    </div>
	  </div>
  </div>
</div>
<!-- END Login -->

<% else %>
<div class="row payment-fields paymoney">

  <div class="login">

    <div class="page-header">
      <a href="/Main">
        <div class="icon">
          <span class="ico-arrow-right"></span>
        </div>
      </a>
      <%= image_tag(@wallet.logo.url(:medium)) %>
    </div>

<!-- Begin row -->
    <div class="row">
	    <div class="col-xs-5">
  <!-- Begin block -->
	      <div class="block">
	        <% if @guce_notice %>
	          <div class = "alert alert-notice" style = "text-align: justify; color: blue;">
              <p><%= @guce_notice %></p>
            </div>
	        <% end %>
	        <% if @error %>
            <div class = "alert alert-error" style = "text-align: justify; color: red;">
              <% @error_messages.each do |msg| %>
                <p><%= msg %></p>
              <% end %>
            </div>
          <% end %>
          <% if @success %>
            <div class = "alert alert-success">
              <% @success_messages.each do |msg| %>
                <%= msg %>
              <% end %>
            </div>
          <% end %>

        <%= form_tag ("/novapay/process_payment") do %>
		      <%= hidden_field_tag "_refact", "#{@basket.transaction_id rescue @basket.first.transaction_id}" %>
		      <%= hidden_field_tag "_prix", "#{@transaction_amount + @shipping}" %>
	        <div class = "form-group">
	          <div class = "input-group">
		          <%= text_field_tag "magellan", @transaction_amount, :readonly => true, class: "form-control input-sm" %>
			        <span class="input-group-btn">
			          <button type="button" class="btn btn-sm"><%= @wallet_currency.symbol %> (<%= @wallet_currency.code %>)</button>
			        </span>
		        </div>
	        </div>
	        <div class = "form-group">
	          <div class = "input-group">
		          <%= text_field_tag "Frais", @shipping, :readonly => true, class: "form-control input-sm" %>
		          <span class="input-group-btn">
			          <button type="button" class="btn btn-sm">Frais [Shipping] <%= @wallet_currency.symbol %> (<%= @wallet_currency.code %>)</button>
			        </span>
		        </div>
	        </div>
	        <br />
          <div class="form-group">
              <button class="btn btn-info btn-sm">
                Payer avec NovaPay <div class="glyphicon glyphicon-circle-arrow-right"></div>
              </button>
            </div>
        <% end %>
        </div>
  <!-- End block -->

	      </div>

	    </div>
    </div>
<!-- End row -->

  </div>


</div>
<% end %>
