<script type="text/javascript" language="JavaScript">
 
  $.fn.get_wallets = function(country_id) {           
    $.ajax({   
      url: "<%= url_for :action => 'get_wallets', :controller => 'wallets' %>",
      data: {country_id: country_id},
      dataType: "text",
      error: function(xhr, textStatus, errorThrown){  
      	alert("Votre session a expiré. Veuillez refaire vos achats sur le site marchand et effectuer le paiement dans les 10 minutes suivantes." + errorThrown);
      },
      success: function(response, response_status, xhr) {       
        //$("#custom_messages").html("<div class = 'alert alert-success'>La demande a été traitée.</div>");     
        if(response == "Il n'y a aucun moyen de paiement pour ce pays."){
          $("#wallets_list").html(response);
        }
        else{
          $("#wallets_list").html(response);
          /*$('#wallets').vaccordion({
	          expandedHeight	: 450,
	          animSpeed		: 500,
	          animEasing		: 'easeInOutBack',
	          animOpacity		: 0.4//,
	          //visibleSlices	: 3
          }); */
          //$(".va-title").shuffleLetters();
        }         
      }
    });  
  }  
  
  $(document).on('ready page:load', function(){  
		//loadAccordion(); 
		//$(".va-title").shuffleLetters();  
		
		$("#country_country_id").on('change',function() {
      var country_id = this.options[this.selectedIndex].value;
      $(this).get_wallets(country_id)
    });
		
			
		//$("#country_country_id").change(function() {
		   
  });
</script>

<div class="container">
  <!-- Top Navigation -->
	<div class="codrops-top clearfix">
		[ <%= session[:service].name %> ~ <%= session[:operation].comment %> ] : <span class = "price"><%= "#{session[:trs_amount]} #{session[:currency].symbol} (#{session[:currency].code})" %></span></b>
	</div>
	
  <h2>
    Choisir un pays: <%= collection_select(:country, :country_id, @countries, :id, :name, :selected => @international.id) %>
  </h2>	
	  
  <section>
  <!-- <section class="color-5"> -->
	  <nav class="cl-effect-19" id="cl-effect-19">
	    <span id = "wallets_list">
	      <% @wallets.each do |wallet| %>
	      <% @transaction_amount = "#{session[:basket]["transaction_amount"]} USD" %>
	        <% @url = "#{wallet.url}/#{session[:service].code}/#{session[:operation].code}/#{session[:basket]['basket_number']}/#{session[:basket]['transaction_amount']}" %>
		      <a href="<%= @url %>">
		        <span data-hover="<%= wallet.name %>">
		          <%= wallet.name %>
		        </span>
		      </a>
		    <% end %>
		  </span>
	  </nav>
  </section>
  
  <div class = "cloud1">
  </div>
  <div class = "cloud2">
  </div>
  <div class = "cloud3">
  </div>
  <div class = "cloud4">
  </div>
  
</div>
			
			

