<% if session[:service].authentication_token != '57813dc7992fbdc721ca5f6b0d02d559' %>

<div class = "row-fluid login-logo">
  <div class = "span6">
    <%= image_tag(@wallet.logo.url(:medium)) %>
  </div>

  <div class = "span6">
    <%= image_tag(@service_logo) %>
  </div>
</div>

<!-- Login -->
<div class = "login">
  <div class="page-header">
      <a href = "<%= main_path %>">
        <div class="icon">
            <span class="ico-arrow-right"></span>
        </div>
      </a>
      <h1><%= session[:service].name %></h1>
  </div>
  <div class = "row-fluid">
	  <div class = "span12">
	    <% if @error %>
        <div class = "alert alert-error">
          <ul>
          <% @error_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <% if @success %>
        <div class = "alert alert-success">
          <% @success_messages.each do |msg| %>
            <%= msg %>
          <% end %>
        </div>
      <% end %>
	    <div class = "block">

		  <div class = "data-fluid" >
		    <% if !['3d20d7af-2ecb-4681-8e4f-a585d7705423', '3d20d7af-2ecb-4681-8e4f-a585d7700ee4', '0acae92d-d63c-41d7-b385-d797b95e9855', '0acae92d-d63c-41d7-b385-d797b95e98dc', '3dcbb787-cdba-43a0-b38d-1ecda36a1e36'].include?(session[:operation].authentication_token) %>
	        <form action = "/MTNCI/ecommerce_payment" method = "post">
						<%= hidden_field_tag "transaction_id", "#{@basket.transaction_id rescue @basket.first.transaction_id}" %>
						<div class = "row-form">
		          <div class = "input-append">
			          <div class = "span9">
				          <%= text_field_tag "payment_amount", @transaction_amount, :readonly => true %>
				          <button class = "btn btn-info" type = "button"><%= @wallet_currency.symbol %> (<%= @wallet_currency.code %>)</button>
			          </div>
			        </div>
		        </div>
		        <div class = "row-form">
		          <div class = "input-append">
			          <div class = "span9">
				          <%= text_field_tag "payment_fee", (@basket.fees rescue @basket.first.fees), :readonly => true %>
				          <button class = "btn btn-info" type = "button">Frais [Shipping] <%= @wallet_currency.symbol %> (<%= @wallet_currency.code %>)</button>
			          </div>
			        </div>
		        </div>

						<div class = "<%= @phone_number_css %>">
		          <div class = "span12">
			          <%= text_field_tag "mobile_money_number", params[:phone_number], placeholder: 'Numéro de téléphone', :autocomplete => :off %>
		          </div>
	          </div>
	        <!--  <div class = "<%= @token_number_css %>">
		          <div class = "span12">
			          <%= text_field_tag "token", params[:token], placeholder: 'Code de sécurité', :autocomplete => :off %>
		          </div>
	          </div> -->

						<br />
	          <div class="span12">
			        <button class="btn">
				        Payer avec Mtn Mobile Money <div class="icon-arrow-next icon-white"></div>
			        </button>
		        </div>
	        </form>

	      <% elsif ['3d20d7af-2ecb-4681-8e4f-a585d7705423', '0acae92d-d63c-41d7-b385-d797b95e9855'].include?(session[:operation].authentication_token)%>
		      <form action = "/MTNCI/cashin_mobile" method = "post">
						<%= hidden_field_tag "transaction_id", "#{@basket.transaction_id rescue @basket.first.transaction_id}" %>
						<%= hidden_field_tag "paymoney_password", session[:paymoney_password] %>
						<div class = "row-form">
		          <div class = "input-append">
			          <div class = "span9">
				          <%= text_field_tag "payment_amount", @transaction_amount, :readonly => true %>
				          <button class = "btn btn-info" type = "button"><%= @wallet_currency.symbol %> (<%= @wallet_currency.code %>)</button>
			          </div>
			        </div>
		        </div>
		        <div class = "row-form">
		          <div class = "input-append">
			          <div class = "span9">
				          <%= text_field_tag "payment_fee", (@basket.fees rescue @basket.first.fees), :readonly => true %>
				          <button class = "btn btn-info" type = "button">Frais [Shipping] <%= @wallet_currency.symbol %> (<%= @wallet_currency.code %>)</button>
			          </div>
			        </div>
		        </div>

						<div class = "row-form">
		          <div class = "input-append">
			          <div class = "span9">
				          <%= text_field_tag "paymoney_account_number", session[:paymoney_account_number], :readonly => true %>
				          <button class = "btn btn-info" type = "button">N° PAYMONEY</button>
			          </div>
			        </div>
		        </div>

						<div class = "<%= @phone_number_css %>">
		          <div class = "span12">
			          <%= text_field_tag "mobile_money_number", params[:phone_number], placeholder: 'Numéro de téléphone destinataire', :autocomplete => :off %>
		          </div>
	          </div>
						<br />
	          <div class="span12">
			        <button class="btn">
				        Valider <div class="icon-arrow-next icon-white"></div>
			        </button>
		        </div>
	        </form>
				<% elsif ['3d20d7af-2ecb-4681-8e4f-a585d7700ee4', '0acae92d-d63c-41d7-b385-d797b95e98dc'].include?(session[:operation].authentication_token)%>
					<form action = "/MTNCI/cashout_mobile" method = "post">
						<%= hidden_field_tag "transaction_id", "#{@basket.transaction_id rescue @basket.first.transaction_id}" %>
						<%= hidden_field_tag "paymoney_password", session[:paymoney_password] %>
						<div class = "row-form">
		          <div class = "input-append">
			          <div class = "span9">
				          <%= text_field_tag "payment_amount", @transaction_amount, :readonly => true %>
				          <button class = "btn btn-info" type = "button"><%= @wallet_currency.symbol %> (<%= @wallet_currency.code %>)</button>
			          </div>
			        </div>
		        </div>
		        <div class = "row-form">
		          <div class = "input-append">
			          <div class = "span9">
				          <%= text_field_tag "payment_fee", (@basket.fees rescue @basket.first.fees), :readonly => true %>
				          <button class = "btn btn-info" type = "button">Frais [Shipping] <%= @wallet_currency.symbol %> (<%= @wallet_currency.code %>)</button>
			          </div>
			        </div>
		        </div>

						<div class = "row-form">
		          <div class = "input-append">
			          <div class = "span9">
				          <%= text_field_tag "paymoney_account_number", session[:paymoney_account_number], :readonly => true %>
				          <button class = "btn btn-info" type = "button">N° PAYMONEY</button>
			          </div>
			        </div>
		        </div>

						<div class = "<%= @phone_number_css %>">
		          <div class = "span12">
			          <%= text_field_tag "mobile_money_number", params[:phone_number], placeholder: 'Numéro de téléphone', :autocomplete => :off %>
		          </div>
	          </div>
						<!--
	          <div class = "<%= @token_number_css %>">
		          <div class = "span12">
			          <%= password_field_tag "token", params[:token], placeholder: 'Code de sécurité', :autocomplete => :off %>
		          </div>
	          </div>
					-->
						<br />
	          <div class="span12">
			        <button class="btn">
				        Valider <div class="icon-arrow-next icon-white"></div>
			        </button>
		        </div>
	        </form>
				<% end %>

<<<<<<< HEAD
=======
	        <% if ['3d20d7af-2ecb-4681-8e4f-a585d7705423', '0acae92d-d63c-41d7-b385-d797b95e98dc', '7489bd19-6ef8-4748-8218-ac92015039c1', 'ebb1f4f3-116b-417e-8348-5964771d0758', 's8g56da9-63f1-486e-9b0c-eceb0aab6d6c'].include?(session[:operation].authentication_token)  %>
	          <div class="form-group">
              <%= text_field_tag "cashout_account_number", '', placeholder: 'Compte destinataire', :autocomplete => :off, class: "form-control input-sm" %>
            </div>
	        <% end %>
          <br />
          <div class="span12">
		        <button class="btn">
			        Payer avec Mtn Mobile Money <div class="icon-arrow-next icon-white"></div>
		        </button>
	        </div>
        </form>
>>>>>>> 85c21ee82bb7b6ca598a697c664a55f71e916d86
		  </div>

	    </div>
	  </div>
  </div>
</div>

<% else %>
<div class="row payment-fields paymoney">

  <div class="login">

    <div class="page-header">
      <a href="/Main">
        <div class="icon">
          <span class="ico-arrow-right"></span>
        </div>
      </a>
      <%= image_tag(@wallet.logo.url(:medium)) %>
    </div>

<!-- Begin row -->
    <div class="row">
	    <div class="col-xs-5">
  <!-- Begin block -->
	      <div class="block">
	        <% if @guce_notice %>
	          <div class = "alert alert-notice" style = "text-align: justify; color: blue;">
              <p><%= @guce_notice %></p>
            </div>
	        <% end %>
	        <% if @error %>
            <div class = "alert alert-error" style = "text-align: justify; color: red;">
              <% @error_messages.each do |msg| %>
                <p><%= msg %></p>
              <% end %>
            </div>
          <% end %>
          <% if @success %>
            <div class = "alert alert-success">
              <% @success_messages.each do |msg| %>
                <%= msg %>
              <% end %>
            </div>
          <% end %>

          <div class = "data-fluid" >
						<form action = "/MTNCI/ecommerce_payment" method = "post">
							<%= hidden_field_tag "transaction_id", "#{@basket.transaction_id rescue @basket.first.transaction_id}" %>

							<div class = "row-form">
			          <div class = "input-append">
				          <div class = "span9">
					          <%= text_field_tag "payment_amount", @transaction_amount, :readonly => true %>
					          <button class = "btn btn-info" type = "button"><%= @wallet_currency.symbol %> (<%= @wallet_currency.code %>)</button>
				          </div>
				        </div>
			        </div>
			        <div class = "row-form">
			          <div class = "input-append">
				          <div class = "span9">
					          <%= text_field_tag "payment_fee", (@basket.fees rescue @basket.first.fees), :readonly => true %>
					          <button class = "btn btn-info" type = "button">Frais [Shipping] <%= @wallet_currency.symbol %> (<%= @wallet_currency.code %>)</button>
				          </div>
				        </div>
			        </div>

							<div class = "<%= @phone_number_css %>">
			          <div class = "span12">
				          <%= text_field_tag "mobile_money_number", params[:phone_number], placeholder: 'Numéro de téléphone', :autocomplete => :off %>
			          </div>
		          </div>
							<!--
		          <div class = "<%= @token_number_css %>">
			          <div class = "span12">
				          <%= text_field_tag "token", params[:token], placeholder: 'Code de sécurité', :autocomplete => :off %>
			          </div>
		          </div>
						-->
							<br />
		          <div class="span12">
				        <button class="btn">
					        Payer avec Mtn Mobile Money <div class="icon-arrow-next icon-white"></div>
				        </button>
			        </div>
		        </form>
		  		</div>
        </div>
  <!-- End block -->

	      </div>

	    </div>
    </div>
<!-- End row -->

  </div>


</div>
<% end %>
