<div class="page-header">
    <div class="icon">
        <span class="ico-arrow-right"></span>
    </div>
    <h1><%= session[:service]["operations"]["#{session[:service]['operation_id']}"]["title"] %><small><%= session[:service]["operations"]["#{session[:service]['operation_id']}"]["title_comment"] %></small></h1>
</div>
<div class = "row-fluid">
	<div class = "span12">
	  <%#= render 'layouts/flash_messages' %>
	  <% if @error %>  
      <div class = "alert alert-error">         
        <ul>
        <% @error_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <% if @success %>  
      <div class = "alert alert-success">         
        <% @success_messages.each do |msg| %>
          <%= msg %>
        <% end %>
      </div>
    <% end %>
	  <div class = "block">
	  
	  
    
    <!------------------------------------------ Data-fluid ----------------------------------->				
		<div class = "data-fluid" >
		  <form method="post" action="https://www.sandbox.paypal.com/cgi-bin/webscr" class = "paypal-button" target="_top" style="opacity: 1;">
		    <input type="hidden" name="button" value="buynow">
		    <input type="hidden" name="business" value="6XLW4P3YQCASY">
		    <%= hidden_field_tag "item_name", "#{session[:service]["name"]}" %>
		    <input type="hidden" name="quantity" value="1">
		    <div class = "row-form">
	        <div class = "input-append">
		        <div class = "span9">
			        <%= text_field_tag "amount", session[:service]["transaction_amount"], :readonly => true %>
			        <button class = "btn btn-info" type = "button">USD</button>
		        </div>
		      </div>
	      </div>
		    <input type="hidden" name="currency_code" value="USD">
		    <input type="hidden" name="tax" value="0">
		    <input type="hidden" name="notify_url" value="http://contactgroup.herokuapp.com/HubReportPOST">
		    <input type="hidden" name="cmd" value="_xclick">
		    <input type="hidden" name="bn" value="JavaScriptButton_buynow">
		    <input type="hidden" name="env" value="www">
		    <div class = "row-form">
	        <div class = "input-append">
		        <div class = "span9">
			        <%= text_field_tag "shipping", "#{@shipping}", :readonly => true %>
			        <button class = "btn btn-info" type = "button">Shipping ($)</button>
		        </div>
		      </div>
	      </div>
		    <%= hidden_field_tag "custom", "#{session[:service]["basket_number"]}" %>
		    <br />
		    <div class="span12">
		      <button class="btn">
			      Payer avec Paypal <div class="icon-arrow-next icon-white"></div>  	
		      </button>
	      </div>
		  </form>		  
		</div>
	  <!------------------------------------------ Data-fluid ----------------------------------->
	  </div>	
	  
	</div>
</div>


